*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}
html{
    font-size: 16px;
    background-color: #fff;
}
.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 612px;
    width: 340px;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid #000;
    background-color: gray;
}
.header{
    width: 100%;
    height: 25px;
    color: #fff;
}
.header span{
    color: #84ce0d;
    font-size: 13px;
    font-style: italic ;
}
.calc-container{
    border-radius: 10px 10px 30px 30px;                                                     
}
.output{
    width: 100%;
    border: 5px #fff solid;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
    background-color: #1d1d1d;
}   
.operation{
    width: 100%;
    height: 60px;
    color: #878787;
    font-size: 1.9em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;
    bottom: 5px;
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}
.result{
    width: 100%;
    height: 90px;
    color: #FFF;
    font-size: 2.6em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}
.result .value{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}
.input{
    background-color: #FFF;
    border-radius: 0 0 25px 25px;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row button{
    width: 50px;
    height: 50px;
    font-size: 1.3em;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin : 2px;
    cursor: pointer;
    box-shadow: -2px -2px 12px #fff, 5px 5px 12px rgb(0 0 0 /16%);
    border: none;
    
}
.row button:hover{
    font-weight: bold;
}
.row #calculate{
    color: #FFF;
    background-color: #84ce0d;
    border-radius: 50px;
    width: 121px;
    box-shadow: -1x -1px 12px #fff, 5px 5px 12px rgb(0 0 0 /16%);
                            
}
.row #clear{
    color: #fff;
    background-color: #e05046;
}
.row #delete{
    color: #e05046;
}
#division, #multiplication, #subtraction, #addition {
    color:  #84ce0d;
}

.input button span{
    font-size: 0.6em;
    position: absolute;
}

.active-angle{
    background-color: #111010 !important;
    color: #FFF !important;
}

@media screen and (max-width: 380px){
   .calculator{
       height: 550px;
       width: 315px;
   }
   .row button{
       margin: 0.5px;
       width: 45px;
       height: 45px;
       font-size: 1.1em;
   }
}